{% load type_checks conditions i18n %}

<ul class="list-group mt-2">
  {% if condition %}
    <li class="list-group-item list-group-item-primary">
      <span class="{{ condition.type|type_to_icon }}"></span>
      <strong class="ms-1">{{ condition.type|type_to_name }}</strong>
      <small class="text-secondary ms-2">(<strong class="fw-medium">type:</strong> {{ condition.type }})</small>
    </li>
    {% for key, value in condition.items %}
      {% if key != "type" %}
        <li class="list-group-item">
          <strong>{{ key }}:</strong>
            {% if value.items %}
              {% include "./rule_condition_render.html" with condition=value %}
            {% elif value|is_list %}
              {% for c in value %}
                {% include "./rule_condition_render.html" with condition=c %}
              {% endfor %}
            {% else %}
              {{ value }}
            {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  {% else %}
    <li class="list-group-item list-group-item-secondary">
      <em>{% trans "Empty condition" %}</em>
    </li>
  {% endif %}
</ul>
