{% extends "frontend/base.html" %}
{% load i18n static %}

{% block content %}
  <h1>{% translate "Songs" %}</h1>
  <p class="lead">{% blocktranslate %}The following songs are available in the carillon to play:{% endblocktranslate %}</p>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">{% translate "Name" %}</th>
        <th scope="col">{% translate "Slug" %}</th>
        <th scope="col"><span class="mdi mdi-music-accidental-sharp" title="{% trans "Transpose" %}" data-bs-toggle="tooltip"></span></th>
        <th scope="col"><span class="mdi mdi-metronome" title="{% trans "Tempo" %}" data-bs-toggle="tooltip"></span></th>
        <th scope="col">{% translate "Actions" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for song in object_list %}
        <tr>
          <th scope="row">{{ song.name }}</th>
          <td><code>{{ song.slug }}</code></td>
          <td>{{ song.transpose }}</td>
          <td>{{ song.tempo_multiplier }}</td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
