{% extends "frontend/base.html" %}
{% load i18n %}

{% block content %}
  {% url "carillon:carillons:add" as url %}
  {% include "frontend/includes/add_button.html" with label=_("Add carillon") %}

  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="w-50">{% translate "Name" %}</th>
        <th scope="col" class="w-50">{% translate "Port Name" %}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for carillon in carillon_list %}
        <tr>
          <th scope="row">
            <a href="{{ carillon.get_absolute_url }}">
              {{ carillon.name }}
            </a>
          </th>
          <td><code>{{ carillon.port_name }}</code></td>
          <td class="text-nowrap">
            {% url "carillon:carillons:update" carillon.pk as update_url %}
            {% url "carillon:carillons:delete" carillon.pk as delete_url %}
            {% include "frontend/includes/table_btn_group.html" with view_url=carillon.get_absolute_url %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
