{% extends "frontend/base.html" %}
{% load i18n static %}

{% block subtitle %}
  {% if carillon.port_name %}
    {% blocktranslate with port=carillon.port_name %}The carillon is connected to port <code>{{ port }}</code>.{% endblocktranslate %}
  {% else %}
    {% blocktranslate %}The carillon is connected to the default port.{% endblocktranslate %}
  {% endif %}
{% endblock %}

{% block content %}
  {% url "carillon:carillons:update" carillon.pk as url %}
  {% include "frontend/includes/update_button.html" with label=_("Update carillon") %}

  {% if carillon.default %}
    <p class="lead">
      {% blocktranslate %}This is the default carillon.{% endblocktranslate %}
    </p>
  {% endif %}
  <p class="lead">
    {% if carillon.active %}
      {% blocktranslate %}The carillon is active.{% endblocktranslate %}
    {% else %}
      {% blocktranslate %}The carillon is currently <strong>not</strong> active.{% endblocktranslate %}
    {% endif %}
  </p>
  <p class="lead">
    {% blocktranslate with volume=carillon.volume %}The current volume is set to {{ volume }}.{% endblocktranslate %}
  </p>

  <h2>{% trans "Test sending MIDI-signals" %}</h2>
  <div class="btn-toolbar">
    <div class="piano-container btn-group me-2">
      <button type="button" class="btn btn-outline-primary" data-note="36">{% trans "C2" %}</button>
      <button type="button" class="btn btn-outline-primary" data-note="48">{% trans "C3" %}</button>
      <button type="button" class="btn btn-outline-primary" data-note="60">{% trans "C4" %}</button>
      <button type="button" class="btn btn-outline-primary" data-note="72">{% trans "C5" %}</button>
      <button type="button" class="btn btn-outline-primary" data-note="84">{% trans "C6" %}</button>
    </div>

    <div class="volume-container btn-group">
      <button type="button" class="btn btn-outline-secondary" data-volume="0">{% trans "Volume 0" %}</button>
      <button type="button" class="btn btn-outline-secondary" data-volume="63">{% trans "Volume 63" %}</button>
      <button type="button" class="btn btn-outline-secondary" data-volume="127">{% trans "Volume 127" %}</button>
    </div>
  </div>

  <div class="alert-placeholder mt-3"></div>
{% endblock %}

{% block extra_body %}
{{ block.super }}
<script src="{% static "frontend/alert_helper.js" %}"></script>
<script>
document.querySelectorAll('.piano-container button').forEach(button => {
  button.addEventListener('click', function() {
    const note = this.getAttribute('data-note');
    fetch(`{% url 'carillon:carillons:hit_note' carillon.pk %}`, {
      method: 'POST',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify({note: note})
    })
    .then(response => response.json())
    .then(data => {
      let alert;
      if (data.success) {
        alert = generateAlert("{% blocktranslate %}Note played successfully!{% endblocktranslate %}", "success", 3000)
      } else {
        alert = generateAlert(`{% blocktranslate with error=data.error %}Error playing note: ${ data.error }{% endblocktranslate %}`, "success", 3000)
      }
      document.querySelector('.alert-placeholder').appendChild(alert);
    })
  });
});

document.querySelectorAll('.volume-container button').forEach(button => {
  button.addEventListener('click', function() {
    const volume = this.getAttribute('data-volume');
    fetch(`{% url 'carillon:carillons:set_volume' carillon.pk %}`, {
      method: 'POST',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify({volume: volume})
    })
    .then(response => response.json())
    .then(data => {
      let alert;
      if (data.success) {
        alert = generateAlert("{% blocktranslate %}Volume set successfully!{% endblocktranslate %}", "success", 3000)
      } else {
        alert = generateAlert(`{% blocktranslate with error=data.error %}Error setting volume: ${ data.error }{% endblocktranslate %}`, "success", 3000)
      }
      document.querySelector('.alert-placeholder').appendChild(alert);
    })
  });
});
</script>
{% endblock %}
