{% extends "frontend/base.html" %}
{% load i18n %}

{% block content %}
  <div class="position-relative">
    <a href="{% url 'carillon:carillons:add' %}" class="btn btn-outline-primary position-absolute end-0 bottom-0 mb-3">
      <span class="mdi mdi-plus"></span> {% translate "Add carillon" %}
    </a>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="w-50">{% translate "Name" %}</th>
        <th scope="col" class="w-50">{% translate "Port Name" %}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for carillon in carillon_list %}
        <tr>
          <th scope="row">
            <a href="{{ carillon.get_absolute_url }}">
              {{ carillon.name }}
            </a>
          </th>
          <td><code>{{ carillon.port_name }}</code></td>
          <td class="text-nowrap">
            <div class="btn-group btn-group-sm" role="group">
              <a class="btn btn-outline-primary" href="{{ carillon.get_absolute_url }}" title="{% trans "View" %}" data-bs-toggle="tooltip">
                <span class="mdi mdi-eye-outline"></span>
              </a>
              <a class="btn btn-outline-primary" href="{% url 'carillon:carillons:update' carillon.pk %}" title="{% trans "Update" %}" data-bs-toggle="tooltip">
                <span class="mdi mdi-pencil-outline"></span>
              </a>
              <a class="btn btn-outline-danger" href="{% url 'carillon:carillons:delete' carillon.pk %}" title="{% trans "Delete" %}" data-bs-toggle="tooltip">
                <span class="mdi mdi-delete-outline"></span>
              </a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
