{% extends "frontend/base.html" %}
{% load i18n static %}

{% block subtitle %}
  {% if carillon.port_name %}
    {% blocktranslate with port=carillon.port_name %}The carillon is connected to port <code>{{ port }}</code>.{% endblocktranslate %}
  {% else %}
    {% blocktranslate %}The carillon is connected to the default port.{% endblocktranslate %}
  {% endif %}
  {% if carillon.default %}
    {% blocktranslate %}This is the default carillon.{% endblocktranslate %}
  {% endif %}
{% endblock %}

{% block content %}
  {% url "carillon:carillons:update" carillon.pk as url %}
  {% include "frontend/includes/update_button.html" with label=_("Update carillon") %}

  <h2>{% trans "Test playing notes" %}</h2>
  <div class="piano-container mb-3">
    <button type="button" class="btn btn-outline-primary" data-note="36">C2</button>
    <button type="button" class="btn btn-outline-primary" data-note="48">C3</button>
    <button type="button" class="btn btn-outline-primary" data-note="60">C4</button>
    <button type="button" class="btn btn-outline-primary" data-note="72">C5</button>
    <button type="button" class="btn btn-outline-primary" data-note="84">C6</button>
  </div>

  <div class="alert-placeholder"></div>
{% endblock %}

{% block extra_body %}
<script src="{% static "carillon/alert_helper.js" %}"></script>
<script>
document.querySelectorAll('.piano-container button').forEach(button => {
  button.addEventListener('click', function() {
    const note = this.getAttribute('data-note');
    fetch(`{% url 'carillon:carillons:hit_note' carillon.pk %}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({note: note})
    })
    .then(response => response.json())
    .then(data => {
      let alert;
      if (data.success) {
        alert = generateAlert("{% blocktranslate %}Note played successfully!{% endblocktranslate %}", "success", 3000)
      } else {
        alert = generateAlert(`{% blocktranslate with error=data.error %}Error playing note: ${ data.error }{% endblocktranslate %}`, "success", 3000)
      }
      document.querySelector('.alert-placeholder').appendChild(alert);
    })
  });
});
</script>
{% endblock %}
