{% load i18n %}

<div class="btn-toolbar mb-2" id="toolbar-{{ widget.attrs.id }}">
  <div class="btn-group me-2">
    <button class="btn btn-outline-primary code-cleanup" title="{% trans "Cleanup code" %}" data-bs-toggle="tooltip">
      <span class="mdi mdi-magic-staff"></span>
    </button>
  </div>
  <div class="btn-group me-2">
    <button class="btn btn-outline-primary code-add" title="{% trans "Not condition" %}" data-bs-toggle="tooltip" data-code='{"type": "not", "condition": {}}'>
      <span class="mdi mdi-exclamation"></span>
    </button>
    <button class="btn btn-outline-primary code-add" title="{% trans "And condition" %}" data-bs-toggle="tooltip" data-code='{"type": "and", "conditions": []}'>
      <span class="mdi mdi-ampersand"></span>
    </button>
    <button class="btn btn-outline-primary code-add" title="{% trans "Or condition" %}" data-bs-toggle="tooltip" data-code='{"type": "or", "conditions": []}'>
      <span class="mdi mdi-math-norm"></span>
    </button>
  </div>
  <div class="btn-group me-2">
    <button class="btn btn-outline-primary code-add" title="{% trans "Date condition" %}" data-bs-toggle="tooltip" data-code='{"type": "date", "comparator": "eq", "day": 1, "month": 1}'>
      <span class="mdi mdi-calendar"></span>
    </button>
    <button class="btn btn-outline-primary code-add" title="{% trans "Time condition" %}" data-bs-toggle="tooltip" data-code='{"type": "time", "comparator": "eq", "hour": 0, "minute": 0}'>
      <span class="mdi mdi-clock"></span>
    </button>
    <button class="btn btn-outline-primary code-add" title="{% trans "Minute condition" %}" data-bs-toggle="tooltip" data-code='{"type": "minute", "minute": 0}'>
      <span class="mdi mdi-timelapse"></span>
    </button>
    <button class="btn btn-outline-primary code-add" title="{% trans "Hour modulo condition" %}" data-bs-toggle="tooltip" data-code='{"type": "hour_modulo", "modulo": 2, "remainder": 0}'>
      <span class="mdi mdi-alarm"></span>
    </button>
    <button class="btn btn-outline-primary code-add" title="{% trans "Minute modulo condition" %}" data-bs-toggle="tooltip" data-code='{"type": "minute_modulo", "modulo": 2, "remainder": 0}'>
      <span class="mdi mdi-alarm-multiple"></span>
    </button>
  </div>
  <div class="btn-group">
    <button class="btn btn-outline-primary code-add" title="{% trans "Easter offset condition" %}" data-bs-toggle="tooltip" data-code='{"type": "easter_offset", "offset": 0, "comparator": "eq"}'>
      <span class="mdi mdi-rabbit-variant-outline"></span>
    </button>
    <button class="btn btn-outline-primary code-add" title="{% trans "Event rank condition" %}" data-bs-toggle="tooltip" data-code='{"type": "event_rank", "comparator": "eq", "rank": "SOLEMNITY"}'>
      <span class="mdi mdi-calendar-filter-outline"></span>
    </button>
    <button class="btn btn-outline-primary code-add" title="{% trans "Event title condition" %}" data-bs-toggle="tooltip" data-code='{"type": "event_title", "title": ""}'>
      <span class="mdi mdi-calendar-search-outline"></span>
    </button>
    <button class="btn btn-outline-primary code-add" title="{% trans "Season condition" %}" data-bs-toggle="tooltip" data-code='{"type": "season", "season": "ORDINARY"}'>
      <span class="mdi mdi-calendar-range-outline"></span>
    </button>
  </div>
</div>
<textarea name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>{% if widget.value %}{{ widget.value }}{% endif %}</textarea>
<div class="alert-placeholder my-1">
</div>

<script>
  function cleanupCode() {
    const alertPlaceholder = document.querySelector('.alert-placeholder')
    const errors = alertPlaceholder.querySelectorAll('.cleanup-error').forEach(el => el.remove())
    const textarea = document.getElementById("{{ widget.attrs.id }}")

    try {
      let data = JSON.parse(textarea.value || "{}")
      textarea.value = JSON.stringify(data, null, 2)
    } catch (e) {
      const alert = generateAlert(`{% blocktranslate %}Invalid JSON format: ${e.message}{% endblocktranslate %}`, "danger")
      alert.classList.add("cleanup-error")
      alertPlaceholder.appendChild(alert)
    }
  }

  cleanupCode()
  const toolbar = document.getElementById("toolbar-{{ widget.attrs.id }}")
  toolbar.querySelector('.code-cleanup').addEventListener("click", (e) => {
    e.preventDefault()
    cleanupCode()
  })
  toolbar.querySelectorAll('.code-add').forEach(button => {
    button.addEventListener("click", (e) => {
      e.preventDefault()
      const code = button.getAttribute('data-code')
      const textarea = document.getElementById("{{ widget.attrs.id }}")
      const val = textarea.value
      let start = textarea.selectionStart
      let end = textarea.selectionEnd
      if (start === end) {
        // Check if empty object
        if (val.charAt(start) === '{' && val.charAt(start + 1) === '}') end += 2
        if (val.charAt(start) === '}' && val.charAt(start - 1) === '{') {
          start -= 1
          end += 1
        }
        if (val.charAt(start - 1) === '}' && val.charAt(start - 2) === '{') start -= 2
      }
      textarea.value = val.slice(0, start) + code + val.slice(end)
      cleanupCode()
    })
  })
</script>
