{% load i18n %}

<div class="btn-toolbar mb-2" id="toolbar-{{ widget.attrs.id }}">
  <div class="btn-group me-2">
    <button class="btn btn-outline-primary code-cleanup" title="{% trans "Cleanup code" %}" data-bs-toggle="tooltip" data-name="{% trans "Cleanup code" %}" data-documentation="{% trans "Formats the JSON code to be more readable." %}">
      <span class="mdi mdi-magic-staff"></span>
    </button>
  </div>

  {% for condition_group in condition_groups %}
    <div class="btn-group{% if not forloop.last %} me-2{% endif %}">
      {% for condition in condition_group %}
        <button class="btn btn-outline-primary code-add" title="{{ condition.label }}" data-bs-toggle="tooltip" data-code='{{ condition.sample }}' data-type="{{ condition.type }}" data-name="{{ condition.label }}" data-documentation="{{ condition.documentation }}">
          <span class="{{ condition.icon }}"></span>
        </button>
      {% endfor %}
      </div>
  {% endfor %}
</div>
<div class="row">
  <div class="col-12 col-lg-7">
    <textarea name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>{% if widget.value %}{{ widget.value }}{% endif %}</textarea>
  </div>
  <div class="col-12 col-lg-5 order-first order-lg-last mb-2 mb-lg-0">
    <div class="card">
      <div class="card-header">
        {% trans "Documentation" %}
      </div>
      <div class="card-body"  id="documentation-{{ widget.attrs.id }}">
        <h5 class="card-title"></h5>
        <div class="card-text"></div>
      </div>
    </div>
  </div>
</div>
<div class="alert-placeholder my-1">
</div>

<script>
  const toolbar = document.getElementById("toolbar-{{ widget.attrs.id }}")
  const docContainer = document.getElementById("documentation-{{ widget.attrs.id }}")
  const docTitle = docContainer.querySelector(".card-title")
  const docText = docContainer.querySelector(".card-text")

  function cleanupCode() {
    const alertPlaceholder = document.querySelector('.alert-placeholder')
    const errors = alertPlaceholder.querySelectorAll('.cleanup-error').forEach(el => el.remove())
    const textarea = document.getElementById("{{ widget.attrs.id }}")

    try {
      let data = JSON.parse(textarea.value || "{}")
      textarea.value = JSON.stringify(data, null, 2)
    } catch (e) {
      const alert = generateAlert(`{% blocktranslate %}Invalid JSON format: ${e.message}{% endblocktranslate %}`, "danger")
      alert.classList.add("cleanup-error")
      alertPlaceholder.appendChild(alert)
    }
  }
  cleanupCode()

  toolbar.querySelector('.code-cleanup').addEventListener("click", (e) => {
    e.preventDefault()
    cleanupCode()
  })

  toolbar.querySelectorAll('.code-add').forEach(button => {
    button.addEventListener("click", (e) => {
      e.preventDefault()
      const code = button.getAttribute('data-code')
      const textarea = document.getElementById("{{ widget.attrs.id }}")
      const val = textarea.value
      let start = textarea.selectionStart
      let end = textarea.selectionEnd
      if (start === end) {
        // Check if empty object
        if (val.charAt(start) === '{' && val.charAt(start + 1) === '}') end += 2
        if (val.charAt(start) === '}' && val.charAt(start - 1) === '{') {
          start -= 1
          end += 1
        }
        if (val.charAt(start - 1) === '}' && val.charAt(start - 2) === '{') start -= 2
      }
      textarea.value = val.slice(0, start) + code + val.slice(end)
      cleanupCode()
    })
  })

  toolbar.querySelectorAll('button[data-documentation]').forEach(button => {
    button.addEventListener("mouseover", (e) => {
      docTitle.textContent = button.getAttribute('data-name')
      docText.innerHTML = button.getAttribute('data-documentation')
      if (button.getAttribute('data-code')) {
        let data = JSON.parse(button.getAttribute('data-code') || "{}")
        let code = JSON.stringify(data, null, 2)
        docText.innerHTML += `<pre class="mt-2">${code}</pre>`
      }
    })
  })

</script>
